input{
    margin: 4px auto; 
    text-align: center; 
}

.right{
    border: 3px lime solid; 
    border-radius: 4px;
    outline: none; 
} 

.wrong{
    border: 2px red solid;
    border-radius: 4px; 
    outline: none;
    animation: shake 1s linear; 
}

@keyframes shake {
    0% {transform: translateX(1px); transform: translateY(1px);}
    20% {transform: translateX(-1px); transform: translateY(-1px);}
    40% {transform: translateX(-1px); transform: translateY(1px);}
    60% {transform: translateX(1px); transform: translateY(-1px);}
    80% {transform: translateX(0); transform: translateY(1px);}
    100% {transform: translateX(0); transform: translateY(0);} 
}

