.sizing{  
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: sans-serif;  
    user-select: none;   
    text-align: center; 
    margin-top: 20px; 
} 

/*

Common media queries:
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.

*/